.button {
    display: flex;
    gap: 10px;
    font-family: 'MaruBuri';
    color: #676767;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 32px;
    border-radius: 4px;
    padding: 12px;
}